body {
	padding-top: 60px;
}

.resource-name {
	font-size: 18px;
	font-weight: bold;
	margin: 5px 0;
}

.resource-desc {
	margin: 5px 0;
}

td.resource-methods {
	width: 320px;
	vertical-align: middle;
}

td.resource-manage {
	width: 160px;
	vertical-align: middle;
}

td.resource-methods a,
td.resource-manage a {
	margin-right: 10px;
}