body {
	font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	padding-top: 60px;
}

.resource-name {
	font-size: 18px;
	font-weight: bold;
	margin: 5px 0;
}

.resource-desc {
	margin: 5px 0;
}

td.resource-methods {
	width: 150px;
	vertical-align: middle;
}

td.resource-manage {
	width: 100px;
	vertical-align: middle;
}

td.resource-methods a,
td.resource-manage a {
	margin-right: 10px;
}

th.field-required,
th.field-indexed,
th.field-unique,
th.field-actions {
	text-align: center;
	width: 50px;
}

td.field-required,
td.field-indexed,
td.field-unique,
td.field-actions {
	text-align: center;
}

td.field-actions a {
	margin-left: 5px;
	margin-right: 5px;
}