!!!5
html
	head
		title Error - RestCook
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/css/site.css')
		block head
	body
		.container
			h1 #{code}
			h4 #{message}