extends layout

block content
	h1 Resources
	div
		form.form-inline(action='resource', method='post')
			input.span4(type='text', name='resourceName', placeholder='Resource name')
			span &nbsp;&nbsp;
			button.btn.btn-primary(type='submit') Create Resources
	table.table.table-hover.table-bordered
		tr
			th Resource
			th Methods
			th Manage
		for x in resources
			tr
				td
					div
						.resource-name #{x.name}
						.resource-desc #{x.desc}
				td.resource-methods
					if x.methods.get
						a(href='/resource/methods/get') get
					if x.methods.post
						a(href='/resource/methods/post') post
					if x.methods.put
						a(href='/resource/methods/put') put
					if x.methods.delete
						a(href='/resource/methods/delete') delete
					if x.methods.index
						a(href='/resource/methods/index') index
					if x.methods.query
						a(href='/resource/methods/query') query
				td.resource-manage
					a(href='/resource') basic
					a(href='/resource/model') model
					a(href='/resource/methods') methods