extends layout

block head
	script(type='text/javascript', src='/js/lib/angular.min.js')
	script(type='text/javascript', src='/js/lib/angular-strap.min.js')
	script(type='text/javascript', src='/js/app.js')
	script(type='text/javascript', src='/js/app-services.js')
	script(type='text/javascript', src='/js/app-controllers.js')
	script(type='text/javascript', src='/js/app-filters.js')
	script(type='text/javascript', src='/js/app-directives.js')
block body
	.navbar.navbar-inverse.navbar-fixed-top
		.navbar-inner
				.container
					a.brand(href='/') RestCook
	div(ng-controller='#{controller}')
		div(ng-view)