.modal-header
	button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
	h3 Field

.modal-body
	.control-group
		label.control-label(for='fieldName') Name
		.controls
			input#fieldName.input-block-level(type='text', ng-model='field.name')
	.control-group
		label.control-label(for='fieldDesc') Description
		.controls
			input#fieldDesc.input-block-level(type='text', ng-model='field.desc')
	.control-group
		label.control-label(for='fieldType') Type
		.controls
			select#fieldType.input-block-level(name='fieldType')
				option(value='String') String
				option(value='Number') Number
				option(value='Date') Date
				option(value='Boolean') Boolean
	.control-group
		label.control-label(for='fieldDefault') Default
		.controls
			input#fieldDefault.input-block-level(type='text', ng-model='field.default')
	.control-group
		.controls
			label.checkbox
				input#fieldRequired(type='checkbox', ng-model='field.required')
				|Field is required.
	.control-group
		.controls
			label.checkbox
				input#fieldIndexed(type='checkbox', ng-model='field.indexed')
				|Create index on this field.
	.control-group
		.controls
			label.checkbox
				input#fieldUnique(type='checkbox', ng-model='field.unique')
				|Unique.

.modal-footer
	button.btn(data-dismiss='modal', aria-hidden='true') Cancel
	button.btn.btn-danger(ng-click='putField()') Save