.container
	h2 Resource : {{resource.name}}

	form(action='/resource', method='post')
		input(type='hidden', name='_method', value='put')

		h4 Basic
		input(type='hidden', name='name', ng-model='resource.name')

		.control-group
			label.control-label(for='inputPath') Path
			.controls
				input#inputPath.span5(type='text', name='path', ng-model='resource.path')

		.control-group
			label.control-label(for='inputDesc') Description
			.controls
				textarea#inputDesc.span5(rows='3', name='desc', ng-model='resource.desc')

		h4 Methods
		p Enable or disable the methods of resource access.

		label.checkbox
			input#checkboxGet(type='checkbox', name='method_get', value='get', ng-model='resource.method_get')
			span.label.label-inverse Get
			span &nbsp;- to get detail of resource

		label.checkbox
			input#checkboxGet(type='checkbox', name='method_post', value='post', ng-model='resource.method_post')
			span.label.label-inverse Post
			span &nbsp;- to create new resource

		label.checkbox
			input#checkboxGet(type='checkbox', name='method_put', value='put', ng-model='resource.method_put')
			span.label.label-inverse Put
			span &nbsp;- to update resource

		label.checkbox
			input#checkboxGet(type='checkbox', name='method_delete', value='delete', ng-model='resource.method_delete')
			span.label.label-inverse Delete
			span &nbsp;- to delete resource

		p &nbsp;
		button.btn.btn-primary(type='button', ng-click='save()') Save Changes
		|&nbsp;
		button.btn.btn-danger(bs-modal="'partial/resource-d'", data-toggle='modal') Delete (Danger!)